<section class="content">
	<% page.posts.each(function(post){ %>
	<article class="article-item item-container">
		<header class="article-header">
			<h1 class="article-title">
				<a href="<%- url_for(post.path) %>"><%= post.title %></a>
			</h1>
			<time datetime="<%= date_xml(post.date) %>" class="article-date iconfont icon-date"><%= full_date(post.date, 'YYYY-MM-DD') %></time>
		</header>
		<div class="article-entry">
			<div class="article-excerpt"><%- post.excerpt %></div>
			<div class="article-more-link"><a href="<%- url_for(post.path) %>">Read More</a></div>
		</div>
		<footer class="article-footer">
			<div class="tag-wrap">
				<% post.tags.each(function(tag) { %>
					<a href="<%- url_for(tag.path) %>#more" class="article-tag iconfont icon-tag"><%= tag.name %></a>
				<% }) %>
			</div>
		</footer>
	</article>
	<% }) %>
	<!--  分页栏 -->
	<% if (page.total > 1){ %>
	  <nav id="page-nav" class="item-container">
	    <% var prev_text = "&laquo; " + __('prev');var next_text = __('next') + " &raquo;"%>
	    <%- paginator({
	      prev_text: prev_text,
	      next_text: next_text
	    }) %>
	  </nav>
	<% } %>
</section>
<%- partial('_partial/aside') %>